
/* Configuración general del sitio */
body {
    background-color: #1a1a24; /* Fondo oscuro simple estilo Gotham */
    color: #ffffff;            /* Texto en color blanco */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #0d0d12;
    text-align: center;
}

/* Menú de navegación */
nav {
    background-color: #262633;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/* Contenedor principal */
main {
    width: 80%;
    margin: 20px auto; /* Centra el contenido en la pantalla */
}

/* Secciones */
section {
    background-color: #22222e;
    border: 1px solid #3d3d52;
    padding: 15px;
    margin-bottom: 20px;
}

/* Ajuste básico de las tarjetas de imágenes */
.tarjeta {
    background-color: #181820;
    border: 1px solid #3a3a4d;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
}

/* Tamaño controlado para que las imágenes no se deformen */
.tarjeta img {
    width: 100%;
    max-width: 500px; /* Tamaño máximo para que no se vean gigantes */
    height: auto;     /* Mantiene la proporción original para que no se aplasten */
    border: 1px solid #444;
}

/* Pie de página */
footer {
    background-color: #0d0d12;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
/*
. (Punto): Busca una clase (class="...").

Ejemplo en CSS: .card { ... }

Le aplica el diseño a todos los elementos que tengan class="card".

# (Numeral): Busca un id (id="...").

Ejemplo en CSS: #historia { ... }

Le aplica el diseño al único elemento que tenga id="historia".

Sin nada: Busca una etiqueta HTML directa.

Ejemplo en CSS: img { ... } o h1 { ... }

Le aplica el diseño a todas las imágenes o títulos <h1> de la página.
*/